server:
  port: 0

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/pedidos
    username: postgres
    password: postgres

  application:
    name: pedidos-ms

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8081/eureka
  instance:
    instance-id: ${spring.application.name}:${random.int}
    hostname: localhost
    preferIpAddress: true
